@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

:root {
  /* --background-color: #f6f1f1; */
  /* --background-color: #fff9f6; */
  /* --background-color: #fffbf8; */
  --background-color: #faf9f8;
  --text-color-dark: #132d3a;
  --sidebar-color: #f4efeb;
  --header-color: #19a7ce;
  --shadow-color: #78624f;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Patua One", cursive;
  font-weight: lighter;
  color: var(--text-color-dark);
}

h1,
h2,
h3,
h4 {
  font-weight: inherit;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
}

input:not([type="checkbox"]),
select,
textarea {
  width: 250px;
  padding: 0 5px;
  margin: 0;
}

label {
  display: block;
}

#shadow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 4;
}

.hidden {
  display: none;
}

.form {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  border-radius: 15px;
  padding: 50px;
}

header {
  background-color: var(--header-color);
  position: fixed;
  width: 100%;
  color: var(--background-color);
  box-shadow: 0 2px var(--text-color-dark);
  z-index: 4;
}

#title {
  margin: 0;
  text-align: center;
  text-shadow: -1px 1px 4px var(--text-color-dark);
  font-weight: 600;
}

.burger {
  font-size: 2rem;
  position: fixed;
  padding: 4px;
  z-index: 5;
}

#main {
  padding-top: 40px;
  text-align: center;
  height: 100vh;
  height: 100dvh;
  background-color: var(--background-color);
}

.clickable {
  cursor: pointer;
}

.navigation.clickable,
li.clickable {
  position: relative;
  transition: padding-left 300ms cubic-bezier(0.18, 0.89, 0.51, 1.06);
}

.navigation.clickable:hover,
li.clickable:hover,
.navigation.clickable.active,
li.clickable.active {
  padding-left: 10px;
}

.navigation.clickable::before,
li.clickable::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 300ms;
}

.navigation.clickable:hover::before,
li.clickable:hover::before,
.navigation.clickable.active::before,
li.clickable.active::before {
  content: "•";
  opacity: 1;
}

.sidebar {
  position: fixed;
  height: 100%;
  left: -100%;
  transition: 400ms;
  z-index: 3;
  top: 40px;
  background-color: var(--sidebar-color);
  color: var(--text-color-dark);
  padding: 20px;
  box-shadow: 2px 0px var(--shadow-color);

  max-width: 230px;
  overflow-wrap: break-word;
}

.sidebar.active {
  left: 0;
}

.navigation {
  font-size: 1.4rem;
  margin-bottom: 4px;
  /* position: relative; */
}

.navigation > ul,
.navigation > div {
  font-size: 1.2rem;
  padding-left: 20px;
}

.navigation li {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

#new-project span,
#new-task span {
  padding-left: 4px;
}

#create-project {
  margin-left: 4px;
}

#new-task {
  padding: 20px;
  max-width: 120px;
  margin: auto;
}

#add-new-task {
  display: block;
}

.project-card {
  display: grid;
  grid-template-rows: auto 0fr;
  width: min(520px, 100vw);
  margin: auto;
}

.project-header {
  grid-row: 1;
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  padding: 8px;
  width: 60%;
  margin: auto;
  margin-bottom: 7px;
}

.project-header:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.card-title {
  font-size: 1.2rem;
}

.counter {
  width: 24px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--header-color);
  color: var(--background-color);
  display: flex;
  justify-content: center;
}

.project-body,
.task-body {
  grid-row: 2;
  overflow: hidden;
}

.project-header span,
.task-header span {
  transition: transform 300ms;
}

.task {
  display: grid;
  grid-template-rows: auto 0fr;
  transition: all 250ms;
  width: min(500px, 90vw);
  margin: auto;
  margin-bottom: 7px;
  background-color: var(--sidebar-color);
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0px 3px var(--shadow-color);
}

.task:hover {
  transform: translateY(-2px);
  box-shadow: 0px 5px var(--shadow-color);
}

.task-header {
  grid-row: 1;
  display: flex;
  justify-content: space-between;
}

.task-header div {
  width: 100%;
}

/* .task-body {
  grid-row: 2;
  overflow: hidden;
} */

.expanded {
  grid-template-rows: auto 1fr;
}

.clicked {
  transform: rotate(180deg);
}

.completed {
  text-decoration: line-through;
  opacity: 0.4;
}

@media only screen and (min-width: 600px) {
  .burger {
    display: none;
  }
  /* .body-container {
    display: grid;
    grid-template-columns: 200px auto;
  } */
  .sidebar {
    /* grid-column: 1 / 2; */
    left: 0;
    max-width: clamp(164px, 17vw, 200px);
  }
  #main {
    /* grid-column: 2 / 3; */
  }
}
